{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/css/account.css') }}">
{% endblock %}

{% block body %}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Profile
	</h2>
</section>

<div class="container">
	<div class="content">
	    <div>
	        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} 
	            {% if is_granted('ROLE_ADMIN') %}
	            |
				<a href="{{ path('sonata_admin_dashboard') }}" class="cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04" style="padding:10px; margin-right: 5px;">
	                Go to Dashboard
	            </a>
	        	{% endif %}
	            |
	            <a href="{{ path('fos_user_security_logout') }}" class="cl0 size-103 bg3 bor1 hov-btn2 p-lr-15 trans-04" style="padding:10px;">
	                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	            </a>
	        {# {% else %}
	            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> #}
	        {% endif %}
	    </div>

	    {% for type, messages in app.session.flashBag.all %}
	        {% for message in messages %}
	            <div class="{{ type }}">
	                {{ message|trans({}, 'FOSUserBundle') }}
	            </div>
	        {% endfor %}
	    {% endfor %}

	    <div>
	        {% block fos_user_content %}
	        {% endblock fos_user_content %}
	    </div>
	</div>
</div>
{% endblock %}